/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.app {
  border: 4mm ridge rgba(67, 50, 220, 0.6);
  height: 100vh;
  background-color: rgba(67, 50, 220, 0.6);
}

.navbar{
  border: 1rem solid;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: row;
  background-color: rgba(67, 50, 220, 0.6);
    
}

.sidebar {
  border: 1rem solid;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: row;
  background-color: white;
  

}
.link{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: white;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.navbar-box {
  background-color: aliceblue;
}
.layout {
  background-color: rgba(67, 50, 220, 0.6);
}
